<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">
        <img src="./assets/iTunes.png" width="30" height="30" class="d-inline-block align-top" alt="">
        iTunesTops
    </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
                  
      <div class="btn-group">
          <button type="button" class="btn btn-secondary">Tipo de medio</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/music']"> Musica</a>
            <a class="dropdown-item" [routerLink]="['/audiobooks']"> Audiolibros</a>
            <a class="dropdown-item" [routerLink]="['/books']"> Libros</a>
            <a class="dropdown-item" [routerLink]="['/films']"> Peliculas</a>
            <a class="dropdown-item" [routerLink]="['/podcast']"> Podcast</a>  
          </div>
      </div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>